body {
    background: #ffffff;
    color: #818181;
    font-family: serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

#container {
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
}

.box {
    display: inline-block;
    border: 1px solid #808080;
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

span {
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5;
    margin-left: -35px;
}

.top {
    border-top: none;
}

.bottom {
    border-left: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.alert {
    height: 75px;
    width: 75px;
    display: inline-block;
    background: #ffffff;
    position: relative;
    z-index: 10;
    margin-top: -50%;
    border-radius: 20px;
    box-shadow: 0 0 75px 2px #818181;
    animation: larger 0.5s;
    animation-fill-mode: forwards;
    box-sizing: content-box;
    padding: 30px;
    bottom: 50px;
    top: 0;
}

buttom {
    background: #818181;
    border-radius: 2px;
    color: #ffffff;
    border: none;
    outline: none;
}

buttom:focus {
    background: #c9c9c9;
}

.activeBox {
    background: #c9c9c9;
}

@keyframes larger {
    from {
        height: 75px;
        width: 125px;
    }

    to {
        height: 100px;
        width: 250px;
    }
}